
<button nz-button (click)= SelectDBFile()>选择数据文件</button>
<span nz-text>{{dbfilepath}}</span>
<br />
<button nz-button (click)="scrollToIndex(200)">Scroll To Index 200</button>
<br />
<br />
<div *ngIf="viewname?.name==='pictrues'">
<nz-table #nzTable 
nzVirtualScroll
[nzVirtualItemSize]="50"
[nzVirtualForTrackBy]="trackByIndex"
[nzData]="tabledata" [nzLoading]="loading" 
[nzFrontPagination]="false"
[nzShowPagination]="false"
[nzScroll]="{y: '480px' }"
[nzVirtualMaxBufferPx] = "480"
[nzVirtualMinBufferPx] = "400"
>
  <thead>
    <tr>
      <th>Index</th>
      <th *ngFor="let til of DBDATA?.columns">{{til}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <ng-template nz-virtual-scroll let-data let-index="index">
    <tr>
      <td *ngFor="let item of data; let i=index"> <span *ngIf="isTextData(item)">{{item}}</span>  <img *ngIf="!isTextData(item)" [src]="toImage(item,data[0],i)" alt=""></td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
</div>