
<button nz-button (click)= SelectDBFile()>选择数据文件</button>
<span nz-text>{{dbfilepath}}</span>
<br />
<button nz-button (click)="scrollToIndex(200)">Scroll To Index 200</button>
<br />
<br />
<div *ngIf="loaded">
<span>过滤:</span>
<div *ngFor="let k of viewname.filtes"> 
  <span>{{k}}:</span>
  <nz-select  style="width: 120px;" #sel name="value" [nzPlaceHolder]="k" nzAllowClear (ngModelChange)="search(k, $event)">
    <nz-option
      *ngFor="let item of filtes.get(k)"
      [nzValue]="item"
      [nzLabel]="item"
    >
    </nz-option>
  </nz-select>
</div>
</div>

<nz-table #nzTable 
[nzData]="tabledata" [nzLoading]="loading"
[nzShowQuickJumper] = true
>
  <thead>
    <tr>
      <th>Index</th>
      <th *ngFor="let til of DBDATA?.columns; let i=index">{{til}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data;">
      <td *ngFor="let item of data; let i=index"> <span *ngIf="isTextData(item)">{{item}}</span>  <img *ngIf="!isTextData(item)" [src]="toImage(item,data[0],i)" alt=""></td>
    </tr>
  </tbody>
</nz-table>
